{% extends 'base.html' %}
{% block content %}
    <div class="main-page">
    <div class="main-text">
    {#  <p>Hello {{ user.username }}!</p>#}
    <br>
    <div class="posts">
        {% for post4 in posts %}
            <a href="{% url 'post_single4' id=post4.id %}">
            <img class="sign-icon" src="{{ post4.image.url }}" style="width: 120px">
                <h1>{{ post4.title }}</h1>
            </a>
            <p>{{ post4.text|linebreaksbr }}</p>
            <hr>
        {% endfor %}
    </div>
    </div>
    </div>
{% endblock %}