{% extends 'base.html' %}
{% load static %}

{% block content %}
    <style>
    p{
        margin-left: 10px;
        font-size: 20px;
    }
    h3{
        margin-left: 90px;
    }
    </style>
    <div class="main-page" style="z-index: -2">
        <p class="main-text">Трафик - Для начинающих водителей и учеников автошкол.</p>
        <p>
            Как правило,  начинающие "Ученики" в автошколах приходят с нулевым запасом знаний.
        </p>
        <p>
            На нашем сайте Вы найдете, подробное описание дорожных знаков, зон их действия и наказание за нарушение предписанным знаком, правила дорожного движения, таблицы штрафов, подробное разъяснение экзаменационных билетов, а также советы как начинающим водителям так и водителям со стажем. Все это Вы сможете найти здесь.
        </p>
        <p>
            Выберите интересующею Вас категорию сайта спорик ру.
        </p>
    <img src="{% static 'style/images/1logo.png' %}" style="width: 20%;margin-left: 40%;margin-bottom: 50px">
    </div>
{% endblock %}